<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GrpcHostAddress" value="https://localhost:7110" />
    <add key="NetTcpBaseAddress" value="net.tcp://localhost:8090/BalanceService" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
